.osh.dialog .save-dialog {

}

.osh.dialog .save-dialog button.submit.save {
    margin: 15px auto 15px auto;
}

.osh.dialog .save-dialog > .pop-inner {
    height: initial;
    min-height: calc(100% - 100px);
}