@import "font-awesome-4.7.0/css/font-awesome.min.css";

.osh.dialog .pop-over {
    position: relative;
    background-color: rgba(5, 107, 166, 0.6);
    min-height: 40px;
    min-width: 100px;
    border: 1px solid #bbbbbb;
    border-radius: 6px;
    box-shadow: 0 0 7px #000000;
    z-index: 1020;
    overflow:hidden;
    height:auto;
    /*height:auto !important;*/
    /*width:100%;*/
    text-align: left;
}

.osh.dialog .pop-over-selected {
    background-color: rgba(0, 160, 0, 0.6);
}

.osh.dialog .pop-over h3 {
    font-size: 14px;
    font-family: Tahoma, Sans;
    color: white;
    margin: 7px 3px 3px 15px;
    text-shadow: 0 0 10px rgba(255, 255, 255 .3);
}

.osh.dialog .pop-over h3:hover {
    cursor: default;
}

.osh.dialog .pop-inner{
    display: flex;
    flex-direction: column;
    width:100%;
}

.osh.dialog .pop-content {
    width:inherit;
    position: static;
    margin-top:8px;
    margin-bottom:5px;
    flex:1;
}

.osh.dialog .pop-footer {
    height:45px;
}

.osh.dialog .pop-close {
    position: absolute;
    top: 3px;
    right: 0;
    padding: 4px 4px 0 0;
    text-align: center;
    width: 18px;
    height: 14px;
    font: 18px/14px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none !important;
    font-weight: bold;
    background: transparent;
    cursor: default;
    text-decoration: none;
}

.osh.dialog .pop-close:hover, .osh.dialog .pop-min:hover,.osh.dialog .pop-max:hover {
    color: #676767;
    cursor:pointer;
}

.osh.dialog .pop-min, .osh.dialog .pop-max {
    position: absolute;
    top: 0px;
    right: 27px;
    padding: 3px 4px 0 0;
    text-align: center;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none !important;
    font-weight: bold;
    background: transparent;
    cursor: default;
}

.osh.dialog .pop-min > i:before {
    display:inline-block;
    font-family: FontAwesome;
    content:"\f2d1";
    height: 16px;
    width: 16px;
    padding: 0 0 0 0px;
    cursor: pointer;
}

.osh.dialog .pop-max > i:before {
    display:inline-block;
    font-family: FontAwesome;
    content:"\f2d2";
    height: 16px;
    width: 16px;
    padding: 5px 0 0 0px;
}

.osh.dialog .pop-pin {
    position: absolute;
    top: 7px;
    right: 25px;
    padding: 4px 4px 0 0;
    text-align: center;
    width: 16px;
    height: 16px;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
    background-image: url("../images/pin-2.png");
    cursor: default;
}

.osh.dialog .pop-pin:hover {
    background-image: url("../images/unpin-2.png");
}

.osh.dialog .pop-pin-drag {
    background-image: url("../images/unpin-2.png");
}

.osh.dialog .pop-pin-drag:hover {
    background-image: url("../images/pin-2.png");
}

.osh.dialog .pop-connect {
    position: absolute;
    top: 7px;
    right: 48px;
    padding: 0px 0px 0 0;
    text-align: center;
    width: 16px;
    height: 16px;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
    background-image: url("../images/connected.png");
    cursor: default;
}

.osh.dialog .pop-connect:hover {
    background-image: url("../images/disconnected.png");
}

.osh.dialog .pop-disconnect:hover {
    background-image: url("../images/connected.png");
}

.osh.dialog .pop-disconnect {
    position: absolute;
    top: 7px;
    right: 48px;
    padding: 0px 0px 0 0;
    text-align: center;
    width: 16px;
    height: 16px;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
    background-image: url("../images/disconnected.png");
}

.osh.dialog .pop-exchange {
    position: absolute;
    top: 5px;
    right: 72px;
    padding: 4px 4px 0 0;
    text-align: center;
    width: 16px;
    height: 16px;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
}

.osh.dialog .pop-exchange:hover {
    text-decoration: none;
}

.osh.dialog .resizable {
    resize: both;   /* Options: horizontal, vertical, both */
    overflow: auto; /* fix for Safari */
}


/** HANDLE extra div **/
.osh.dialog .pop-extra {
    position: static;
    margin-top:8px;
    margin-bottom:5px;
    flex: 2;
}

.osh.dialog .pop-extra-el {
    margin-left:5px;
    flex: 3;
}

.osh.dialog .pop-extra-el .fa-2x {
    font-size: 1.75em;
}

.osh.dialog .pop-extra-el>i {
    cursor: pointer;
    width:100%;
    padding-top:2px;
}

.osh.dialog .pop-extra-collapse + div {
    display:none !important;
}

.osh.dialog .pop-extra-show + div {
    display: block !important;
    margin-left: 25px;
}

.osh.dialog .no-keep-ratio {
    height: calc(100% - 45px);
}

.osh.dialog .keep-ratio-w {
    height:auto !important;
    width:100%;
}

.osh.dialog .keep-ratio-h {
    width:auto !important;
}

/** Modal part **/
.osh.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 99999;
    opacity:1;
    -webkit-transition: opacity 4000ms ease-in;
    -moz-transition: opacity 4000ms ease-in;
    transition: opacity 4000ms ease-in;

}

.osh.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
    position: relative;
    margin: 10% auto;
    pointer-events: auto;
}

.osh.modalDialog > .pop-over {
    background-color: #519fcc;
    opacity: 1;
}

html.osh.modalDialog, body.osh.modalDialog {
    pointer-events: none;
}

.osh.dialog.closed, .osh.modalDialog.closed  {
    display:none;
}

html.osh.modalDialog.closed, body.osh.modalDialog.closed  {
    pointer-events: auto;
}

.osh.modalDialog .horizontal-line-titled {
    color:#b3b3b3;
}