.osh .entity-editor {
    /*margin: 0 auto; => center?*/
    /*background:radial-gradient(rgba(161, 222, 240, 0.75), rgba(64, 129, 147, 0.75)), url(http://i.imgur.com/3JZchqt.png), url(http://i.imgur.com/9kxBTzr.jpg);*/
    /*background-color: rgba(5, 107, 166, 0.6);*/
    min-height: calc(100% + 30px);
    height:inherit;
}

.osh .entity-editor button.submit {
    margin-bottom: 15px;
    margin-left: 15px;
}

.osh .entity-editor .view-container {
    clear: both;
    height: calc(100% + 45px);
    overflow: auto;
}

.osh .entity-editor .datasource-container {
    clear: both;
    height: calc(100% + 45px);
    overflow: auto;
}

.osh .entity-editor  section .select-style {
    width: 200px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

/** DataSource tab**/
.osh .entity-editor .tab-panel {
    height:calc(100% - 50px);
}

.osh .entity-editor .ds-line {
    width:100%;
    line-height: 30px;
}

.osh .entity-editor .ds-line > span{
    margin-left: 15px;
    font-size: 17px;
}

.osh .entity-editor .ds-line > .control {
    margin-left:-15px;
    margin-top:-2px;
}

.osh .entity-editor .ds-line > .control .edit {
    padding-right: 15px;
}

.osh .entity-editor  .ds-line > .control .edit:hover {
    color: #056BA6;
    cursor:pointer;
}

.osh .entity-editor  .ds-line > .control .delete {
    padding-right: 15px;
}

.osh .entity-editor  .ds-line > .control .delete:disabled {
    color:red;
}

.osh .entity-editor .fa.disabled, .osh .entity-editor .fa[disabled],
    .osh .entity-editor .disabled > .osh .entity-editor .fa,
    .osh .entity-editor [disabled] > .fa {
    opacity: 0;
    pointer-events: none;
}

.osh .entity-editor  .ds-line > .control .delete:hover {
    color: #056BA6;
    cursor:pointer;
}

.osh .entity-editor  .ds-line > .control .fa-2x {
    font-size: 1.5em;
}

.osh .entity-editor  .add-view-button {
    margin-left: 15px;
    margin-top:-12px; /* padding osh-ul value */
}

/** create button **/
.osh .panel .entity-editor .create {
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    display: table;
}

.osh .entity-editor .info .input-text {
    width:200px;
}

.osh .entity-editor .datasource {}

.osh .entity-editor .views {}

.osh .dialog-edit-view .view-item-line  > input{
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px
}

.osh .dialog-edit-view .view-item-line  > .select-style {
    float:right;
}

.osh .dialog-edit-view .viewItem-container {
    max-height: 115px;
    overflow: auto;
}

.osh .dialog-edit-view .edit-view .input-text {
     width: calc(100% - 146px);
}

.osh .entity-editor .load-settings.input-file-text:not(.preview) {
    width: calc(100% - 50px);
}

.osh .entity-editor .load-button {
    margin-top: 10px;
    margin-right: 50px;
    float: left;
}

.osh .entity-editor .load-button + .osh-ul {
    margin-left: 146px;
}

.osh .entity-editor div.save {
    clear:both;
}

.osh .entity-editor div.save .input-text{
    width: 238px;
}

.osh .entity-editor button.submit.save-entity-button {
    margin: auto;
    margin-top: 12px;
}

.osh.edit-view > .view-properties  {
    height: 190px;
    overflow: auto;
}

.osh.edit-view > .content-properties  {
    height: 188px;
}