/** DIALOG CSS **/
.osh.dialog {
    width:inherit;
    height:inherit;
    color: #000000;
}

.osh.dialog .fa, .osh.dialog label {
    color: #000000;
}

.osh.dialog .dialog-inner {
    position:absolute;
    background-color: #29e;
    color: white;
    box-sizing: border-box;
    background: radial-gradient(rgba(161, 222, 240, 0.75), rgba(64, 129, 147, 0.75));
    border: 1px solid #bbbbbb;
    border-radius: 6px;
    box-shadow: 3px -4px 7px 0px rgba(0, 0, 0, 0.54);
    z-index: 1020;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.osh.dialog .dialog-header {
    height: 25px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-right:5px;
    padding-bottom: 4px;
    font-size: 16px;
    font-weight: bold;
}

.osh.dialog .dialog-header > .line-left {
    float: left;
    padding-left: 15px;
    padding-top: 4px;
}

.osh.dialog .dialog-header > .line-right {
    float: right;
}

.osh.dialog .dialog-content {
    height: calc(100% - 50px); /* 25px of the header + 25px of the footer*/
    overflow: auto;
    min-height: inherit;
    width: inherit;
}

.osh.dialog .dialog-content > div {
    /*width:100%;*/
    height: 100%;
}

.osh.dialog .dialog-footer {
    max-height: 25px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.osh.dialog .dialog-header-icon {
    display: inline-block;
    font-family: FontAwesome;
    cursor: pointer;
    color: #c3c3c3;
}

.osh.dialog .dialog-header-icon:hover {
    color: #676767;
    cursor:pointer;
}

.osh.dialog .dialog-header-icon.icon-selected {
    color: #676767;
}


.osh.dialog .minimized {
    height: 32px !important;
    min-height: 32px !important;
    transition: height 0.25s ease-out;
    -webkit-transition: height 0.25s ease-out;
    -moz-transition: height 0.25s ease-out;
    -o-transition: height 0.25s ease-out;
    -ms-transition: height 0.25s ease-out;
}

.osh.dialog.closed {
    display:none !important;
}

.osh.dialog .minimized .dialog-header {
    border-radius: 6px;
}

/** MODAL PART **/
.osh.dialog.modal {
    position: relative;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.osh.dialog.modal-block {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 99999;
    opacity: 1;
}

/** ICON**/
.icon-swap:before {
    content:"\f0ec";
}

.icon-pin:before {
    content: "\f08d";
}

.icon-minimize:before {
    content: "\f2d1";
}

.icon-restore:before {
    content: "\f2d2";
}

.icon-close {
    margin-top:2px;
}

.icon-close:before {
    content: "\f00d";
    font-size: 19px;
}