.osh .ptz {
    height: 164px;
    width: 164px;
    overflow: hidden;
    background: url(../images/tasking/yt.png) no-repeat;
    position: relative;
}

.osh .ptz .moveUp {
    width: 22px;
    height: 12px;
    position: absolute;
    left: 70px;
    top: 23px;
    cursor: pointer;
    background: url(../images/tasking/fxp_r2_c5a.gif) 0px no-repeat;
}

.osh .ptz .moveTopLeft {
    width: 13px;
    height: 12px;
    position: absolute;
    left: 42px;
    top: 42px;
    cursor: pointer;
    background: url(../images/tasking/fxp_r3_c3.gif) 0px no-repeat;
}

.osh .ptz .moveTopRight {
    background: url(../images/tasking/fxp_r3_c7.gif) no-repeat;
    width: 13px;
    height: 12px;
    position: absolute;
    left: 110px;
    top: 42px;
}

.osh .ptz .moveLeft {
    background: url(../images/tasking/fxp_r5_c2.gif) no-repeat;
    width: 12px;
    height: 22px;
    position: absolute;
    left: 23px;
    top: 70px;
}

.osh .ptz .reset {
    width: 55px;
    height: 55px;
    position: absolute;
    left: 54px;
    top: 55px;
    cursor: pointer;
    background: url(../images/tasking/fxp_r5_c5.png) 0px no-repeat;
}

.osh .ptz .moveRight {
    width: 12px;
    height: 22px;
    position: absolute;
    left: 128px;
    top: 70px;
    cursor: pointer;
    background: url(../images/tasking/fxp_r5_c8.gif) 0px no-repeat;
}

.osh .ptz .moveBottomLeft {
    width: 12px;
    height: 13px;
    position: absolute;
    left: 42px;
    top: 110px;
    cursor: pointer;
    background: url(../images/tasking/fxp_r7_c3.gif) 0px no-repeat;
}

.osh .ptz .moveBottomRight {
    background: url(../images/tasking/fxp_r7_c7.gif) -24px no-repeat;
    width: 13px;
    height: 12px;
    position: absolute;
    left: 110px;
    top: 110px;
}

.osh .ptz .moveDown {
    background: url(../images/tasking/fxp_r8_c5.gif) no-repeat;
    width: 22px;
    height: 12px;
    position: absolute;
    left: 70px;
    top: 129px;
}

/** HOVER  + active PART **/
.osh .ptz .moveUp:hover {
    background: url(../images/tasking/fxp_r2_c5a.gif) -22px no-repeat;
}
.osh .ptz .moveUp:active {
    background: url(../images/tasking/fxp_r2_c5a.gif) -44px no-repeat;
}

.osh .ptz .moveDown:hover {
    background: url(../images/tasking/fxp_r8_c5.gif) -22px no-repeat;
}

.osh .ptz .moveDown:active {
    background: url(../images/tasking/fxp_r8_c5.gif) -44px no-repeat;
}

.osh .ptz .moveRight:hover {
    background: url(../images/tasking/fxp_r5_c8.gif) -11px no-repeat;
}

.osh .ptz .moveRight:active {
    background: url(../images/tasking/fxp_r5_c8.gif) -23px no-repeat;
}

.osh .ptz .moveLeft:hover {
    background: url(../images/tasking/fxp_r5_c2.gif) -12px no-repeat;
}

.osh .ptz .moveLeft:active {
    background: url(../images/tasking/fxp_r5_c2.gif) -24px no-repeat;
}

.osh .ptz .moveTopLeft:hover {
    background: url(../images/tasking/fxp_r3_c3.gif) -13px no-repeat;
}

.osh .ptz .moveTopLeft:active {
    background: url(../images/tasking/fxp_r3_c3.gif) -26px no-repeat;
}

.osh .ptz .moveTopRight:hover {
    background: url(../images/tasking/fxp_r3_c7.gif) -13px no-repeat;
}

.osh .ptz .moveTopRight:active {
    background: url(../images/tasking/fxp_r3_c7.gif) -26px no-repeat;
}

.osh .ptz .moveBottomLeft:hover {
    background: url(../images/tasking/fxp_r7_c3.gif) -11px no-repeat;
}

.osh .ptz .moveBottomLeft:active {
    background: url(../images/tasking/fxp_r7_c3.gif) -24px no-repeat;
}

.osh .ptz .moveBottomRight:hover {
    background: url(../images/tasking/fxp_r7_c7.gif) -12px no-repeat;
}

.osh .ptz .moveBottomRight:active {
    background: url(../images/tasking/fxp_r7_c7.gif) -0px no-repeat;
}

.osh .ptz .reset:hover {
    background: url(../images/tasking/fxp_r5_c5.png) -54px no-repeat;
}
.osh .ptz .reset:active {
    background: url(../images/tasking/fxp_r5_c5.png) -109px no-repeat;
}

.osh .ptz{
    width:165px;
    height:165px;
    float:left;
    margin-bottom: 20px;
}

.osh .ptz-right {
    width:200px;
    margin-left: 25px;
    float:left;
}

.osh .ptz-right .ptz-select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
}

.osh .ptz-right .ptz-select-style:before {
    font-family: FontAwesome;
    content: "\f0d7";
    font-size: 25px;
    display: inline-block;
    position: absolute;
    pointer-events: none;
    right: 10px;
    color: #777;
    top:0px;
}

.osh .ptz-right .ptz-select-style select {
    padding: 4px 8px;
    width: 100%;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
}

.osh .ptz-right .ptz-select-style select:focus {
    outline: none;
}

/** Form **/
.osh .ptz-right:-moz-placeholder {
    color: #777;
}

.osh .ptz-right::-webkit-input-placeholder {
    color: #777;
}

.osh .ptz-right*:focus {outline: none;}

.osh .ptz-right ul {
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
.osh .ptz-right li{
    padding:0px 0px 8px 0px;
    border-bottom:1px solid #eee;
    position:relative;
}

.osh .ptz-right li:first-child, .ptz-right li:last-child {
    border-bottom:1px solid #777;
}

.osh .ptz-right > ul > li > label {
    width : 65px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
}

.osh .ptz-right .input-text, .ptz-right select {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.osh .ptz-right .input-text:focus, .ptz-right select:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}

.osh .ptz-right select {
    padding-right: 21px;
}

.osh .ptz-right select:focus  {
    padding-right: 21px;
}

/** ZOOM Button **/
.osh .ptz-zoom {
    float:left;
    margin-top: 15px;
    margin-right: 15px;
}

.osh .ptz-zoom .ptz-zoom-in{
    font-size: 2.2em;
    color: #7c7c7c;
    text-shadow: 1px 1px 1px #333333;
}

.osh .ptz-zoom .fa:hover{
    color: #626262;
    text-shadow: 1px 1px 1px #6a6a6a;
}

.osh .ptz-zoom .fa:active{
    color: #464646;
}

.osh .ptz-zoom .ptz-zoom-out{
    font-size: 2.2em;
    color: #7c7c7c;
    text-shadow: 1px 1px 1px #333333;
}

.osh .ptz-zoom-bar {
    background-color: #7c7c7c;
    height: 60px;
    width: 4px;
    border-radius: 20px;
    margin: 0px 0px 0px 12px;
}
