.osh .panel .tab-panel > section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

.osh .panel .tab-panel > input {
    display: none;
}

.osh .panel .tab-panel > label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 900;
    font-size: 15px;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

.osh .panel .tab-panel > label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

.osh .panel .tab-panel > label:hover {
    color: #888;
    cursor: pointer;
}

.osh .panel .tab-panel > input:disabled + label {
    color: #dfdfdf;
}

.osh .panel .tab-panel > input:checked + label {
    color: #000;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}

@media screen and (max-width: 650px) {
    .osh .panel .tab-panel > label {
        font-size: 0;
    }
    .osh .panel .tab-panel > label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .osh .panel .tab-panel > label {
        padding: 15px;
    }
}

/** DataSource tab**/
.osh .panel .tab-panel .ds-line {
    width:100%;
}

.osh .panel .tab-panel .ds-line > span{
    margin-left: 15px;
    font-size: 17px;
}

.osh .panel .tab-panel .ds-line > .control {
    margin-left:-15px;
    margin-top:-2px;
}

.osh .panel .tab-panel .ds-line > .control .edit {
    padding-right: 15px;
}

.osh .panel .tab-panel .ds-line > .control .edit:hover {
    color: #056BA6;
    cursor:pointer;
}

.osh .panel .tab-panel .ds-line > .control .delete {
    padding-right: 15px;
}

.osh .panel .tab-panel .ds-line > .control .delete:hover {
    color: #056BA6;
    cursor:pointer;
}

.osh .panel .tab-panel .ds-line > .control .fa-2x {
    font-size: 1.5em;
}

.osh .panel .tab-panel .add-view-button {
    margin-left: 15px;
}

/** create button **/
.osh .panel .tab-panel .create {
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    display: table;
}

/** line - left/right position **/
.osh .panel .tab-panel .line-left {
    float:left;
}

.osh .panel .tab-panel .line-right {
    float:right;
}

.osh .panel .tab-panel #content3 > .select-style {
    width: 200px;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.osh .panel .tab-panel .view-container {
    clear: both;
    height: 158px;
}
